<p id="notice">
  Your User was re-created with password "1234"
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Index', users_path %>
